body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    direction: rtl; /* لتغيير اتجاه النص للعربية */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    color: #666;
    font-size: 24px;
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    height: 150px;
    margin: 0 auto 20px; /* المحاذاة للوسط */
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    resize: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    display: block; /* هذا ضروري لضمان المحاذاة للوسط */
}

textarea:focus {
    border-color: #28a745;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

audio {
    margin-top: 20px;
    width: 100%;
    display: block;
}
